@import url(./card.css);

:root {
    --white: hsl(0, 0%, 100%);
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --fontPrimary: "montserrat";
    --fontSecondary:"fraunces"
  }
  
  @font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat.ttf") format("truetype");
  }

  @font-face {
    font-family: "fraunces";
    src: url("../fonts/fraunces.ttf") format("truetype");
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body,
  .main {
    height: 100%;
  }

  body {
    background-color: var(--cream);
    font-family: var(--fontPrimary);
    font-size: 16px;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }